<%- include('partials/header') -%>
<div class="container py-5">
    <form action="/dinner" method="POST" class="mb-5">
        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients you have</label>
            <input type="text" name="ingredients" id="ingredients" placeholder="e.g. chicken, broccoli" />
        </div>

        <div class="mb-3">
            <label for="style" class="form-label">Dinner style</label>
            <select name="style">
                <option value="quick">Quick</option>
                <option value="healthy">Healthy</option>
                <option value="comfort">Comfort</option>
                <option value="kid-friendly">Kid-Friendly</option>
                <option value="gourmet">Gourmet</option>
                <option value="mix">Mix</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">How many dinners?</label>
            <select name="duration">
                <option value="one">Just one dinner</option>
                <option value="week">Plan the whole week</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Get Dinner Idea</button>

    </form>

    <div class="mb-3">
        <div class="card-header bg-success text-white">Dinners We've Enjoyed</div>
            <ul>
                <% meals.forEach(meal => {  %>
                    <li><%= meal.recipe %></li>
                <% }) %>
            </ul>
    </div>
</div>


<%- include('partials/footer') -%>