<%- include('partials/header') -%>
<div class="container py-5">
  <h1 class="mb-4">Your Weekly Dinner Plan</h1>

  <table>
    <tr>
      <th>Day 1</th>
      <th>Day 2</th>
      <th>Day 3</th>
      <th>Day 4</th>
      <th>Day 5</th>
      <th>Day 6</th>
      <th>Day 7</th>
    </tr>
    <tr>
      <% dinners.forEach(dinner => { %>
        <td>
          <a href="/recipe/<%= dinner._id %>"><%= dinner.recipeTitle %></a>
        </td>
      <% }) %>
    </tr>
  </table>


  <a href="/" class="btn btn-outline-primary mt-4">Plan Another Dinner</a>
</div>
<%- include('partials/footer') -%>